body {
    background-color: #4dde49;
}

.resultTable {
    margin: 100px;
    padding: 0px;
    width: 80%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
}

.resultTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    height: 80%;
}

.resultTable tr:nth-child(odd) {
    background-color: #00ff00;
}

.resultTable tr:nth-child(even) {
    background-color: #aaffff;
}

.resultTable td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

.resultTable tr:first-child td {
    background-color: #007f00;
    border: 0px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.resultTable .header{
    font-weight:bolder;
}

.resultTable .textToRight {
    text-align:right;
}

.resultTable .textToCenter {
    text-align:center;
}

.resultTable .textToLeft {
    text-align:left;
}

.backButton{
    width:500px;
    height:50px;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
